<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фрязино ж/д переезд</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
        }

        .font {
            font-size: 84pt;
            margin: 50px;
        }

        .image {
            margin-top: 0;
        }
    </style>
</head>
<body>

    <p class="font">{{ bar }}</p>
    <p>
        <img class="image" src="{{ img }}" alt="Описание изображения">
    </p>

    <p>
        Данная программа работает в режиме бета-тестирования. Информация может быть не точной и содержать ошибки.
        Время открытия и закрытия шлагбаума выбрано с запасом. Сообщения о багах
        присылайте на почту: ivan.koshkin.fr@gmail.com
    </p>

</body>
</html>
