<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фрязино ж/д переезд</title>
    <style>
        .aligncenter {
            text-align: center;
        }

        .font {
            font: normal small-caps 84px fantasy;
        }
        .container{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

    <p class="font" align="center">{{ bar }}</p>
    <p class="aligncenter">
        <img src="{{ img }}" align="center">
    </p>

    <br>
    <br>
    <p class="container">
        Данная программа работает в режиме бета-тестирования. Информация может быть не точной и содержать ошибки.
        Время открытия и закрытия шлагбаума выбрано с расчетом запаса - чтобы проехать наверняка.
    </p>

</body>
</html>